@font-face {
    font-family: 'super_boysregular';
    src: url('../font/super_boys-webfont.woff2') format('woff2'),
        url('../font/super_boys-webfont.woff') format('woff'),
        url('../font/super_boys-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'century_gothicregular';
    src: url('../font/centurygothic-webfont.eot');
    src: url('../font/centurygothic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/centurygothic-webfont.woff2') format('woff2'),
        url('../font/centurygothic-webfont.woff') format('woff'),
        url('../font/centurygothic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'century_gothicbold';
    src: url('../font/centurygothic_bold-webfont.eot');
    src: url('../font/centurygothic_bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/centurygothic_bold-webfont.woff2') format('woff2'),
        url('../font/centurygothic_bold-webfont.woff') format('woff'),
        url('../font/centurygothic_bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

h1,
h2 {
    font-family: 'super_boysregular';
}

body {
    font-family: 'century_gothicregular';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
}

p {
    font-family: 'century_gothicregular';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
}

ul {
    font-family: 'century_gothicregular';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
}

.upColor {
    color: #fff700 !important;
    background: #ff073a !important;
}

.topbaar {
    background: #FF073A;
    padding: 6px 0;
}

.topbaar p {
    margin-bottom: 0px;
    font-size: 14px;
}

.join-span {
    background: #fff700;
    color: #000;
    border-radius: 30px;
    padding: 0px 10px;
    display: inline-block;
}

.manage-help-icons img {
    width: 30px;
}

.logo-img {
    max-width: 150px;
}

/*header*/

header {
    background: #00e7ff;
}

header .nav li a {
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'super_boysregular';
}

.sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    transition: left 0.3s ease;
    z-index: 999;
    overflow: hidden;
    height: 100vh;
}

.sidebar.show {
    left: 0;
}

.close-btn {
    background: none;
    border: none;
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

/*header*/

/*banner*/

.featured-image-with-text__text--caption-review-star img {
    max-width: 101px !important;
}

.smalgp {
    padding-left: 310px;
}

.banner {
    background: #fff;
    padding: 50px 0px 60px;
}

.sec-content h1 {
    font-size: 52px;
    margin: 20px 0;
    line-height: 40px;
    font-family: 'super_boysregular';
}

.yomz-heading {
    font-size: 52px;
    margin-top: 30px;
    line-height: 40px;
    font-family: 'super_boysregular';
}

.yn-blod-big b {
    font-size: 20px;
    font-weight: 900;
    padding-right: 1px;
}

.sec-content h1 svg {
    margin-top: -35px;
}

.sec-content span {
    display: block;
}

.featured-image-with-text__text--caption.has-rating {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 18px;
}

.featured-image-with-text__text--caption:first-child {
    margin-top: 0;
}


.featured-image-with-text__text ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
    width: 100%;
    flex-direction: row;
}

.featured-image-with-text__text ul {
    list-style: none;
}

.featured-image-with-text__text ul li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.featured-image-with-text__text ul li:before {
    content: '';
    width: 20px;
    min-width: 20px;
    height: 20px;
  border-radius: 100%;
    background-color: #fff700;
    background-image: url(../images/icon-checkbox-black.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.button-wrapper-button {
    margin-top: 20px !important;
    font-size: 20px;

    letter-spacing: 0;
    padding: 10px 35px;
    display: inline-block;
    text-transform: none;
    color: #000;
    white-space: nowrap;
    text-transform: uppercase;
    background: var(--button-bg-color);
    color: var(--button-text-color);
    border-radius: 40px;
    align-items: center;
    position: relative;
    border: 1px solid rgb(17 17 17 / 10%);
}

.yomz-btn .btn {
    margin-top: 20px !important;
    font-size: 20px;

    letter-spacing: 0;
    padding: 10px 35px;
    display: inline-block;
    text-transform: none;
    color: #fff700 !important;
    background: #ff073a;
    border-radius: 40px;
    align-items: center;
    position: relative;
    border: 1px solid rgb(17 17 17 / 10%);
    font-family: 'century_gothicbold';
}

.yomz-btn .btn:hover {
    background: #fff700;
    color: #ff073a !important;
    border: 1px solid #fff700;
}

/*.yomz-btn .fa{font-size: 28px;}*/

.button-wrapper-button a {
    text-decoration: none;
    color: #000;
    display: inline-flex;
    gap: 8px;
}

.reviews-top{padding-top: 20px;}

.reviews-thumb img {
    border-radius: 50px;
    max-width: 40px;
}

.reviews-thumb {
    font-weight: 600 !important;
    font-size: 14px !important;
    align-items: center;
    border-radius: 16px;
    background: #fff700;
    padding: 20px;
    height: 230px;
}

.reviews-thumb p {
    margin-bottom: 0px;
    margin-top: 10px;
}

.smsize {
    font-size: 26px;
    line-height: normal;
    font-family: 'century_gothicregular';
    font-weight: 600;
}

.list-done.featured-image-with-text__text li {
    font-weight: 800;
}

/*Banner*/

/*marquee*/

.marquee_section {
    background: #00e7ff;
}

.marquee_track {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    flex: none;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    display: flex;
}

.marquee_track img {
    width: 32px;
}

.marquee_track.damn {
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
}

.marquee {
    justify-content: flex-start;
    align-items: center;
    display: flex;
    overflow: hidden;
}

.marquee h3 {
    margin: 0;
    font-size: 18px;
    font-family: 'century_gothicregular';
    color: #000;
    font-weight: 900 !important;
    text-transform: uppercase;
}

.marquee_code {
    display: flex;
}

.marquee.mobile {
    margin-top: 5rem;
    padding-bottom: 5rem;
    transform: rotate(-4.3deg);
}

.marquee_track {
    width: max-content;
    animation: marquee-horizontal 30s linear infinite;
}

.marquee_track:hover {
    animation-play-state: paused;
}

.marquee_track-hold {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    white-space: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    text-decoration: none;
    display: flex;
}

@keyframes marquee-horizontal {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

#hours {
    padding-top: 0;
}

.marquee_track.damn {
    width: max-content;
    animation: marquee-horizontal 5s linear infinite;
}

.marquee_track.damn:hover {
    animation-play-state: paused;
}

@keyframes marquee-horizontal {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

/*marquee*/

/*modern*/

.modern-data p {
    margin-bottom: 10px
}

.list-alicenter {
    display: inline-block;
    text-align: left;
}

.modern {
    padding: 50px 0 130px;
}

.section_heading {
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
}

.section_heading1 {
    margin: 0 auto 20px !important;
}

.subtitle {
    font-size: 12px;
    font-weight: 800;
    line-height: 23.5px;
    min-height: 25px;
    letter-spacing: 0px;
    color: #000;
    background: #ffca12;
    border-radius: 17px;
    padding: 0 15px;
    display: inline-block;
    margin: auto;
    text-transform: uppercase;
    width: auto;
    margin-bottom: 10px;
    background: #ff073a !important;
    color: #fff700;
}

.section_heading h2 {
    margin: auto;
    text-align: center;
    font-size: 57px;
    font-weight: 400;
    line-height:normal;
    text-transform: uppercase !important;
    font-family: 'super_boysregular';
    margin-top: 10px;
}

.underline,
.underline-black {
    position: relative;
    display: inline-block;
}

.underline:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -8px;
    height: 12px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
/*    background-image: url(../images/underline.svg);*/
}

.section_heading .text p {
    text-align: center;
    margin-top: 15px;
}

.modern .controls button {
    border: none;
    background: none;
    padding: 0px;
}

.modern .controls {
    position: absolute;
    z-index: 2;
    bottom: 30px;
    left: 10px;
}

.modern video {
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
}

.modern .controls img {
    max-width: 40px;
}

.video-container {
    position: relative;
}

.video-right-date .left span {
    border: 2px solid #ffca12;
    border-radius: 8px;
    font-size: 28px;
    letter-spacing: -2px;
    line-height: 1;
    color: #000;
    display: flex;
    padding: 7px;
    text-align: center;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
}

.video-right-content {
    padding: 0px 0px 0px;
}

.video-right-content h3 {
    font-size: 32px;
    margin-bottom: 40px;
    text-align: center;
}

.video-right-date .right h4 {
    font-size: 24px;

    margin-bottom: 10px;
}

.video-right-date .right p {
    margin-bottom: 0px;
}

.video-right-date .left img {
    width: 40px;
}


.featur-listdone p{margin-bottom: 0px; margin-top: 0px !important;}
.featur-listdone img{width: 20px;}

.featur-listdone .col p{text-align: left !important;}


/*modern*/

/**/
.top-wavs {
    height: 3vw;
    position: relative;
    z-index: 1;
    background: 255, 202, 18;
}

.wave-section--direction-top {
    margin-top: -3vw;
}

.wave-section {
    height: 3vw;
    position: relative;
    z-index: 1;
}

.frink-srction {
    background: #fff700;
    margin-top: -30px;
    padding: 60px 0 120px;
}

.frink-srction .section_heading {
    text-align: center;
}

.underline-black:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -8px;
    height: 12px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
/*    background-image: url(../images/Underline_2.svg);*/
}

.frink-srction .subtitle {
    background: #000;
    color: #fff;
}

.div-1 p {
    margin-bottom: 0px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 17px;
    line-height: 1;
    margin-top: 10px;
    line-height: normal;
}

.list-drinks-details {
    gap: 1px;
}

.list-drinks-details img {
    width: 100%;
}

.list-drinks-details {
    margin-top: 20px;
}

.list-drinks-details img {
    width: 80px;
    border: 1px solid #000;
    border-radius: 80px;
    padding: 9px;
}

.list-drinks-details .div-1 {
    text-align: center;
    width: 14%;
}

/**/

/**/

.featured-product-detail__heading {

    color: #000;
    position: relative;
    z-index: 1;
    word-break: keep-all;
}

.featured-product-detail__heading .icon-whisker_text {
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-left: -25px;
    margin-top: 15px;
}

.featured-product-detail__heading .icon-whisker_text svg {
    width: 25px;
    height: 25px;
    margin-top: -15px;
}

.icon-whisker_text svg {
    min-width: 25px;
    width: 25px;
    height: 25px;
    margin-top: -15px;
}

.anytime {
    background: #fff1bf url(../images/boitl.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding-top: 80px;
    padding-bottom: 160px;
}

.anytime-data .slt {
    font-size: 12px;
    font-weight: 800;
    line-height: 23.5px;
    min-height: 25px;
    letter-spacing: 0px;
    color: #000;
    background: #ffca12;
    border-radius: 17px;
    padding: 0 15px;
    display: inline-block;
    margin: auto;
    text-transform: uppercase;
    width: auto;
    margin-bottom: 10px;
}

.cabdy-text {
    text-align: left !important;
}

.anytime-data .div-1 {
    border: 2px solid #ffca12;
    border-radius: 8px;
    align-items: center;
    padding: 10px 10px;
}

.anytime-data .list-drinks-details {
    gap: 20px;
}

.anytime-data .div-1 p {
    font-size: 14px;
}

.anytime-data .list-drinks-details {
    margin-bottom: 10px;
}

/**/

.everyday .titles h3 {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 36px;
}

.everyday .titles p {
    font-size: 16px;

    margin-bottom: 0px;
    font-size: 13px;
}

.featured-bar ul li:not(:last-child) {
    margin-bottom: 16px;
}

.featured-bar ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--font-subheading-family);
    font-size: 16px;

    line-height: 1;
    text-transform: uppercase;
}

.featured-bar ul li:before {
    content: "";
    width: 22px;
    height: 22px;
    min-width: 22px;
    border-radius: 100%;
    background: #000;
    background-size: 16px;
    background-image: url(../images/icon-checkbox.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.featured-bar {
    background: #ffca12;
    padding: 0px 0px 0px;
    border-radius: 20px;

}

.featured-bar .titles {
    padding: 50px;

}

.featured-bar .titles {
    padding: 50px;
}

.everyday {
    margin-top: -130px;
}




/**/

/*Video*/

.video-section {
    padding: 80px 0;
}

.heading-happy-icon,
.heading-star-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    line-height: 1;
}

.heading-star-icon:before {
    background-image: url(../images/Star_Left.svg);
}

.heading-happy-icon:before,
.heading-happy-icon:after,
.heading-star-icon:before,
.heading-star-icon:after {
    display: block;
    width: 35px;
    height: 35px;
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.heading-star-icon:after {
    background-image: url(../images/Star_Right.svg);
}

.video-sec-ga .controls button {
    border: none;
    background: none;
    padding: 0px;
}

.video-sec-ga .controls {
    position: absolute;
    z-index: 2;
    bottom: 30px;
    left: 10px;
}

.video-sec-ga video {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.video-sec-ga .controls img {
    max-width: 40px;
}

.video-section .col-md-2 {
    width: 19.666667%;
}

/**/

/*Doctor-Approved Goodness*/

.doctor-approved {
    padding: 40px 0px 120px;
}

.doctor-approved .testi-qot h3 {
    font-size: 18px;
}

.doctor-approved .testi-qot .fa-quote-left {
    font-size: 31px;
}

.testi-qot {
    margin-top: 00px;
}

/*Doctor-Approved Goodness*/

/**/

/*effect*/

.effect {
    background: #fff;
}

.effect {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    padding: 0px;
}

.effect .anytime-data .slt {
    background: #bbb2ff;
}

.effect .div-1 {
    border: 2px solid #bbb2ff;
}

.effect .button-wrapper-button {
    background: #bbb2ff;
}

/*effect*/




.zupplement-mb1{    margin-bottom: 30px;}
.zupplement-mb1 p{ margin-top: 0px !important;}




/**/

.super-kis {
    position: relative;
}

.step-label {
    background: #ffca12;
    color: #000;
    position: absolute;
    font-size: 14px;

    line-height: 1;
    padding: 6px 0;
    left: 16px;
    top: 16px;
    border-radius: 8px;
    width: 78px;
    z-index: 1;
    text-align: center;
}

.super-kis img {
    border-radius: 15px;
}

.super-kis h3 {
    font-weight: 800;
    font-size: 19px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 0px;
}

.super-kis p {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 600;
    margin-top: 4px;
    letter-spacing: 0;
    color: #000;
}

/**/

/*products*/

.products {
    background: #ffd5dd;
    margin-top: -13px;
}

.modern.products {

    padding: 50px 0 60px;
}


.products .underline-blue:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -8px;
    height: 12px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
/*    background-image: url(../images/Underline-blue.svg);*/
}

.products .subtitle {
    background: #bbb2ff;
}

.products-thumbs {
    padding: 20px;
    background: #fff;
    border-radius: 18px;
    overflow: hidden;
}

.featured-product-list-card-header,
.featured-product-list-card-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.featured-product-list-card-header{    display: block;
    text-align: center;}


.featured-product-list-card-header .inline-richtext{ font-weight:900; -webkit-text-stroke: 0.5px black; }
.products-thumbs .yomz-btn .btn {
    display: block;
}

.featured-product-list-card-prices {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 0;
}

.featured-product-list-card-prices .regular-price {
    font-size: 24px;

    color: #000;
    line-height: 1.1;
}

.featured-product-list-card-info .unit {
    font-size: 12px;

    color: #000;
    line-height: 1.1;
}

.featured-product-list-card-header h3 {
    font-size: 22px;
    line-height: 1.1;
    font-weight: 800;
    text-transform: uppercase;
}

.featured-product-list-card-prices .compare-price {
    font-size: 18px;

    line-height: 1.1;
    color: #666;
    position: relative;
}

.featured-product-list-card-header .subtext {
    font-size: 13px;

    line-height: 1.1;
    color: #000;
    text-transform: uppercase;
}

.featured-product-list-card-info {
    margin: 0;
}

.featured-product-list-card-meta h4 {
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 0;
    color: #000;
}

.under_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
    margin-top: 1rem;
}

.under_buttons>span {
    font-size: 13px;
    line-height: 1.5;
    color: #000;
    font-weight: 800;
    letter-spacing: 0;
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    white-space: nowrap;
}

.featured-product-list-card .under_buttons span:before {
    background-color: #ffca12;
}

.under_buttons>span:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    min-width: 20px;
    border-radius: 100%;
    background-color: #fff700;
    background-image: url(../images/icon-checkbox-black.svg);
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 0;
}

.products .button-wrapper-button {
    align-items: center;
    display: block;
    text-align: center;
    margin-top: 10px !important;
}

.purple-btn.button-wrapper {
    background: #fff700 !important;

}

.plo .under_buttons span:before {
    background-color: #fff700 !important;
}

.gruntr-icons {
    margin-top: 30px;
}

.gruntr-icons ul {
    list-style: none;
    gap: 20px;
}

.gruntr-icons .gap-2 {
    gap: 1.5rem !important;
}

.products .col-md-4 {
    flex: 0 0 auto;
    width: 28.333333%;
}

/*products*/

/*long-banner*/

.long-banner {
    margin-top: -41px;
    background: url(../images/chill-image.webp);
    height: 700px;
    background-size: cover;
    background-position: center center;
}

/*long-banner*/

/*fueling*/

.fueling {
    background: #fff1bf;
}

.featured-compare-benefits_item-title {
    font-size: 16px;

    line-height: 1.1;
    color: #000;
    margin: 10px 0 15px;
}

.featured-compare-benefits_item {
    text-align: center;
}

.featured-compare-benefits_item-text p {
    font-size: 13px;

}

/*fueling*/

/*Reviews*/

.reviews {
    padding: 60px 0px 150px;
}

.heading-happy-icon,
.heading-star-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    line-height: 1;
}

.heading-happy-icon:before {
    background-image: url(../images/Heart.svg);
}

.heading-happy-icon:before,
.heading-happy-icon:after,
.heading-star-icon:before,
.heading-star-icon:after {
    display: block;
    width: 35px;
    height: 35px;
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.heading-happy-icon:after {
    background-image: url(../images/Smile.svg);
}

.icons-star {
    width: 120px;
}

.featured-review-columns-card {
    border: 1px solid #DBDFE2;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
}

.featured-review-columns-card__content {
    background: #fffcf0;
    padding: 28px 20px;
}

.featured-review-columns-card__reviews {
    display: flex;
    gap: 3px;
}

.featured-review-columns-card__text {
    margin-top: 16px;
}

.featured-review-columns-card__text * {
    font-weight: 600;
    color: #000;
margin-bottom: 0px;
}

.featured-review-columns-card__info {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.featured-review-columns-card__info .author-image-info {
    display: flex;
    gap: 12px;
    align-items: center;
}

.featured-review-columns-card__info .author-image,
.featured-review-columns-card__info .author-product-image {
    display: flex;
}

.author-image img {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    object-fit: cover;
}

.featured-review-columns-card h3.author-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    margin: 0 0 3px;
}

.featured-review-columns-card .author-info {
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    color: #11111180;
}

.author-product-image img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

/*Reviews*/

/*subscribe*/

.subscribe {
    background: #fff700;
    padding: 50px 0;
}

.subscribe-form {
    margin-top: 20px;
}



.subscribe-form input[type="email"] {
    border-radius: 36px !important;
    background: #0000001a !important;
    height: 47px !important;
    font-size: 16px !important;
    font-weight: 700 !important;
    color: #000 !important;
    border: 0 !important;
    padding: 10px 20px !important;
}

.subscribe-form button {
    background: #000;
    border-radius: 36px !important;
    padding: 0 !important;
    width: 100% !important;
    font-size: 18px !important;
    font-weight: 700 !important;
    font-family: var(--font-subheading-family) !important;
    color: #fff;
    line-height: 38px !important;
    height: 38px !important;
    border: 0 !important;
    max-height: 47px !important;
    min-height: 47px !important;
    margin-left: 0px !important;
}

/*subscribe*/

/*Fotoer*/

footer {
    padding-top: 80px;
    padding-bottom: 52px;
    background: #000;
}

.footer-block__heading {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0;
    margin: 0 0 16px;
    color: #fff;
}

.company-info p {
    color: #ffffffb3;
    font-size: 16px;
}

.company-info img {
    width: 150px;
    margin-bottom: 20px;
}

.list-unstyled {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-block__details-content>li:not(:last-child) {
    margin-bottom: 12px;
}

.footer-block a,
.footer-block__details-content .list-menu__item--link,
.list-menu__item--link,
.copyright__content a {
    color: #ffffffb3;
    text-decoration: none !important;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    padding: 0;
}

.footer__copyright {
    color: #ffffffb3;
}

footer .subscribe-form input[type="email"] {
    border: 2px solid #464545 !important;
    border-radius: 36px 0px 0px 36px !important;
    background: #ffffff26 !important;
    height: 47px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    color: #c8c8c8 !important;
    border: 2 !important;
    padding: 10px 20px !important;
}

footer .subscribe-form button {
    background: #fff700 !important;
    border-radius: 0px 36px 36px 0px !important;
    padding: 0 !important;
    width: 100% !important;
    font-size: 17px !important;
    font-weight: 700 !important;
    font-family: var(--font-subheading-family) !important;
    color: #ff073a !important;
    line-height: 38px !important;
    height: 38px !important;
    border: 0 !important;
    max-height: 47px !important;
    min-height: 47px !important;
    margin-left: 0px !important;
}

.social-icons {
    text-align: right;
}

.social-icons ul {
    list-style: none;
}

.social-icons li {
    display: inline-block;
}

.social-icons img {
    width: 26px;
}

.footer__copyright-gap {
    padding-top: 100px;
}

/*Footer*/

/*New-Code*/
.tryYomzBtn {
    background-color: #ff073a !important;
    color: #fff700 !important;
}

.ul-center {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.title-h1 {
    margin-top: 15px !important;
    text-transform: none !important;
}

.drinks-text {

    text-align: center;
    margin-top: 20px;

}

.subtitle-Text {
    background: #ff073a;
    color: #fff700;
    font-weight: 800;
    font-size: 12px;
    font-weight: 800;
    line-height: 23.5px;
    border-radius: 17px;
    padding: 0 15px;
    display: inline-block;
    margin: auto;
    width: auto;
    margin-bottom: 15px;

}

.candyWith-Text h2 {
    line-height: 50px !important;
}

.anytime-data .slt {
    font-size: 12px;
    font-weight: 600;
    background-color: #ff073a !important;
    color: #fff700 !important;
    border-radius: 17px;
    padding: 5px 15px;
    display: inline-block;
    margin: auto;
    text-transform: none;
    width: auto;
    margin-bottom: 10px;
}

.tryYomzBtn {
    background-color: #ff073a !important;
    color: #fff700 !important;
}

.section_heading {
    .whtveggie {

        text-transform: none;
    }

    .realText {
        text-transform: none;
    }
}

.yomzBtn {
    background-color: #ff073a;
    color: #fff700;
    font-size: 24px !important;
    font-weight: 800;
    border-radius: 34px;
    padding: 10px 30px;
    display: inline-block;
    margin: auto;
    width: auto;
    text-transform: none;
    text-transform: uppercase;
}

.yomzBtnUpdated {
    background-color: #00e7ff !important;
    color: #ff073a !important;
}

.ul-center {
    list-style-type: none;
    margin: 0;
    padding: 0;
}



.title-h1 {
    margin-top: 15px !important;
    text-transform: none !important;
}

.subtitle-Text {
    background: #ff073a;
    color: #fff700;
    font-weight: 800;
    font-size: 12px;
    font-weight: 800;
    line-height: 23.5px;
    border-radius: 17px;
    padding: 0 15px;
    display: inline-block;
    margin: auto;
    width: auto;
    margin-bottom: 15px;
    text-transform: none;
}

.candyWith-Text h2 {
    line-height: 50px !important;
}

.anytime-data .slt {
    font-size: 12px;
    font-weight: 600;
    background-color: #ff073a !important;
    color: #fff700 !important;
    border-radius: 17px;
    padding: 5px 15px;
    display: inline-block;
    margin: auto;
    text-transform: none;
    width: auto;
    margin-bottom: 10px;

}

/*New-code*/

@media screen and (max-width:991px) {

    .container {
        max-width: 98%;
    }

    .logo-img {
        max-width: 110px;
    }

    button#menu-toggle img {
        max-width: 28px;
    }

    #mobile-sidebar .nav li a {
        color: #000 !important;
        padding-left: 0px;
    }

    #mobile-sidebar .social-icons img {
        filter: brightness(50) invert(1);
    }

    #mobile-sidebar .social-icons {
        text-align: left;
    }

    #mobile-sidebar .social-icons ul {
        padding: 0px;
        margin-top: 20px;
    }

}

@media screen and (max-width:767px) {

    .featured-product-list-card-meta h4 {
    font-size: 19px;
    margin-bottom: 0px;
}


.featur-listdone img {
    width: 24px;
}

.featur-listdone .col{margin-bottom: 5px;}




.yn-blod-big{font-size: calc(11px + 1vw) !important;}

    .yomz-heading{    margin-top: 10px;}

    .section_heading{    margin-bottom: 0px;}

    .modern.official {
    padding-top: 50px;
}

.modern.products {
    padding: 30px 0 80px;
}

    .alignCen {
        display: flex;
        justify-content: center;
    }

    /*Header*/
    .join-span {
        font-size: 12px;
        font-weight: 800;
    }

    .topbaar {
        padding: 0px 0;
    }

    .hd-head {
        padding: 0px 0px !important;
    }

    .logo-md-spce {
        margin-bottom: 0px !important;
    }

    /*Header*/

    .brbrack {
        display: block;
    }

    .mobile-dblock {
        display: block;
    }

    .qualities-Img {
        display: flex;
        flex-wrap: wrap;
    }

    .products .col-md-4 {
        flex: 0 0 auto;
        width: 100%;
        margin-bottom: 20px;
    }

    .gruntr-icons {
        margin-top: 0px;
    }

    .gruntr-icons .gap-2 {
        gap: 1.5rem !important;
        padding-left: 0px;
    }

    div#section-wave-template--17951666864320__wave_section_JtArtC {
        display: none;
    }

    .long-banner {
        margin-top: -55px;
        background: url(../images/chill-image.webp);
        height: 230px;
        background-size: cover;
        background-position: center center;
    }

    .section_heading h2 {
        font-size: 34px;
        font-size: calc(27px + 1.3vw) !important;
        margin-bottom: 0px;
    }

    .anytime.effect img {
        display: none;
    }

    .yomz-btn .btn {
        font-size: 18px;
    }

    .drinks-text {
        font-size: 10px !important;
    }

    .banner-content {
        padding: 0px 0px 0px 0px !important;
        text-align: center;
    }

    .reviews-thumb {
        margin-bottom: 20px;
    }

    .sec-content h1 {
        font-size: calc(35px + 1.3vw) !important;
        margin: 5px 0px;
    }

    .smsize {
        font-size: calc(14px + 1.3vw) !important;
        margin-bottom: 15px;
    }

   

    .reviews-thumb {
        height: auto;
    }

    .sec-content h1 svg {
        margin-top: -35px;
        width: 18px;
    }

    .video-right-date .left span {
        width: 48px;
    }

    .modern {
        padding: 30px 0 70px;
    }

    .pragep-pro {
        font-size: 8px !important;
        font-weight: 800;
        margin-top: 0px;
    }

    .frink-srction {
        background: #fff700;
        margin-top: -30px;
        padding: 20px 0 20px;
    }

    .video-section {
        padding: 40px 0;
    }

    .featured-image-with-text__text ul {
        display: inline-block;
        width: auto;
    }

    .featured-image-with-text__text--caption.has-rating {
        display: flex;
        justify-content: center;
        font-size: calc(10px + 1.3vw) !important;
    }

    .yomz-btn .btn {
        width: 100%;
    }

    .doctor-approved {
        padding: 40px 0px 40px;
    }

    .doctor-approved .section_heading {
        margin: 0 auto 0px;
    }

    .products .section_heading {
        margin: 0 auto 20px;
    }

    /*Footer*/
    .subscribe {
        background: #fff700;
        padding: 20px 0 20px;
    }

    .subscribe-form p {
        margin-bottom: 0px !important;
    }

    footer {
        padding-top: 30px;
        padding-bottom: 22px;
        background: #000;
    }

    .footer-block__details-content>li {
        margin-bottom: 0px !important;
    }

    .company-info img {
        width: 130px;
        margin-bottom: 10px;
    }

    footer p {
        font-size: 13px !important;
    }

    .footer-block a,
    .footer-block__details-content .list-menu__item--link,
    .list-menu__item--link,
    .copyright__content a {
        color: #ffffffb3;
        text-decoration: none !important;
        font-size: 13px;
        font-weight: 400;
        line-height: 21px;
        padding: 0;
    }

    .footer__copyright-gap {
        padding-top: 10px;
    }

    .footer__copyright {
        color: #ffffffb3;
        font-size: 13px;
        text-align: center;
        margin-bottom: 10px;
    }

    .social-icons {
        text-align: center;
    }

    .social-icons ul {
        margin: 0px;
        padding: 0;
    }

    .subscribe-form input[type="email"] {
        height: 60px !important;
    }

    .subscribe-form button {
        height: 60px !important;
    }

    /*Footer*/

    .manage-help-icons img {
        width: 30px;
    }

    .mobile-cebnter {
        text-align: center;
    }

    .modern .whtveggie {
        font-size: calc(34px + 1.3vw) !important;
    }

    .frink-srction .whatsin {
        font-size: calc(53px + 1.3vw) !important;
    }

    .video-section .families {
        font-size: calc(49px + 1.3vw) !important;
        line-height: normal !important;
    }

    .anytime .cabdy-text {
        font-size: calc(45px + 1.3vw) !important;
        line-height: normal !important;
    }

    .modern .zupplement {
        font-size: calc(42px + 1.3vw) !important;
        line-height: normal !important;
    }

    .doctor-approved .doctor {
        font-size: calc(39px + 1.3vw) !important;
        line-height: normal !important;
    }

    .products .closes {
        font-size: calc(28px + 1.3vw) !important;
        line-height: normal !important;
    }

    .list-drinks-details .div-1 {
        text-align: center;
        width: 49%;
        margin-bottom: 20px;
    }

    .manage-hare {
        margin: 0 auto 0px !important;
    }

    .video-section .section_heading {
        margin: 0 auto 0px;
    }

    .cabdy-text {
        text-align: center !important;
    }

    .official {
        padding: 0;
    }

    .yomzBtn {
        font-size: 20px !important;
    }

    .banner {
        padding-bottom: 10px;
    }

    .banner {
    padding: 20px 0px 0px;
}

    .wish-top {
        padding: 20px 0 30px;
    }

}

@media screen and (max-width:370px) {
    .sec-content h1 {
        font-size: calc(34px + 1.3vw) !important;
        margin: 5px 0px;
    }

    .modern .whtveggie {
        font-size: calc(33px + 1.3vw) !important;
    }

    .frink-srction .whatsin {
        font-size: calc(52px + 1.3vw) !important;
    }

    .video-section .families {
        font-size: calc(48px + 1.3vw) !important;
        line-height: normal !important;
    }

    .anytime .cabdy-text {
        font-size: calc(44px + 1.3vw) !important;
        line-height: normal !important;
    }

    .modern .zupplement {
        font-size: calc(41px + 1.3vw) !important;
        line-height: normal !important;
    }

    .doctor-approved .doctor {
        font-size: calc(37px + 1.3vw) !important;
        line-height: normal !important;
    }

    .products .closes {
        font-size: calc(27px + 1.3vw) !important;
        line-height: normal !important;
    }

}

@media screen and (max-width:350px) {
    .sec-content h1 {
        font-size: calc(32px + 1.3vw) !important;
        margin: 5px 0px;
    }

    .modern .whtveggie {
        font-size: calc(31px + 1.3vw) !important;
    }

    .frink-srction .whatsin {
        font-size: calc(50px + 1.3vw) !important;
    }

    .video-section .families {
        font-size: calc(46px + 1.3vw) !important;
        line-height: normal !important;
    }

    .anytime .cabdy-text {
        font-size: calc(42px + 1.3vw) !important;
        line-height: normal !important;
    }

    .modern .zupplement {
        font-size: calc(39px + 1.3vw) !important;
        line-height: normal !important;
    }

    .doctor-approved .doctor {
        font-size: calc(36px + 1.3vw) !important;
        line-height: normal !important;
    }

    .products .closes {
        font-size: calc(25px + 1.3vw) !important;
        line-height: normal !important;
    }

    .yomzBtn {
        font-size: 18px !important;
    }

}

@media screen and (max-width:340px) {
    .sec-content h1 {
        font-size: calc(30px + 1.3vw) !important;
        margin: 5px 0px;
    }

    .modern .whtveggie {
        font-size: calc(29px + 1.3vw) !important;
    }

    .frink-srction .whatsin {
        font-size: calc(48px + 1.3vw) !important;
    }

    .video-section .families {
        font-size: calc(42px + 1.3vw) !important;
        line-height: normal !important;
    }

    .anytime .cabdy-text {
        font-size: calc(40px + 1.3vw) !important;
        line-height: normal !important;
    }

    .modern .zupplement {
        font-size: calc(37px + 1.3vw) !important;
        line-height: normal !important;
    }

    .doctor-approved .doctor {
        font-size: calc(34px + 1.3vw) !important;
        line-height: normal !important;
    }

    .products .closes {
        font-size: calc(23px + 1.3vw) !important;
        line-height: normal !important;
    }

    .yomzBtn {
        font-size: 17px !important;
    }

}

@media screen and (max-width:326px) {

    .doctor-approved .doctor {
        font-size: calc(33px + 1.3vw) !important;
        line-height: normal !important;
    }

}

@media screen and (max-width:316px) {
.doctor-approved .doctor {
        font-size: calc(30px + 1.3vw) !important;
        line-height: normal !important;
    }

}


@media screen and (max-width:308px) {
.modern .zupplement {
        font-size: calc(33px + 1.3vw) !important;
    }


}